
TABLE {
	border:2px solid #CF7B79;
	border-spacing: 0px 0px;
	text-align: center;
	font-family: Arial, Geneva, sans-serif;
font-size: 14px;
}

THEAD {
	background-color: #EFD3D2;
	font-weight: bold;
}
THEAD, TD {
	padding: 5px 5px;
}


TD {
	border:1px solid #CF7B79;
}

.LeftAlign{
	text-align: left;
}
.LeftAlignBold {
	text-align: left;
	font-weight: bold;
}

.Even {
	background-color: #DFA7A6;
}


.Odd {
	background-color: #EFD3D2;
}